<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Information_summary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Information_summary.Properties.Settings>
            <setting name="前端显示" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="文件名称" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="文件大小" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="创建日期" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="修改日期" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="版本信息" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="文件类型" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MD5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CRC32" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHA1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHA256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA384" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA512" serializeAs="String">
                <value>False</value>
            </setting>
        </Information_summary.Properties.Settings>
    </userSettings>
</configuration>